/*===================================== CSS Cookie Notification Bar =====================================*/

.cookie-choices-info {
z-index:999999!important;
background-color:#242729!important;
border-top:1px solid #6FC415; 
box-shadow:1px 2px 2px #000; bottom: 0px !important;top: auto !important; 
padding:3px 0px!important;
text-transform:none!important;
}
.cookie-choices-text{
font-size:14px !important;
font-weight:500; 
color:#ddd!important;
}
.cookie-choices-info{color:#ddd;text-transform:none!important;}
.cookie-choices-button{font-family: Georgia, Helvetica, sans-serif;font-size:12px;font-weight:700;  
background-color: #ffff00!important;
border-radius: 5px!important;
box-shadow: 2px 3px 2px #333;
padding:6px!important;
text-transform:none!important;
color:#111!important;}
/*===================================== CSS Bottom Search Bar =====================================*/
#sboxtbnfix { width: 95%; float: right; margin-right: 0px!important; overflow: hidden; } #sboxtbn { width: 100%; float: left; margin: 4px 0 0; padding: 0; } #sboxtbn fieldset{ padding:0;border:none;margin:0 } #sboxtbn input[type=text] { background: #ECF0F1; float: left; border-radius: 1px 0px 0px 1px; display: inline-block; box-sizing: border-box; padding: 0 10px 0 15px; outline: none; margin: 0; border: none; width: 67%; height: 34px; text-transform: uppercase; letter-spacing: 0.5px; overflow: hidden; color: #aaa; font-size: 11px; } #sboxtbn input[type=submit] { cursor: pointer; margin: 0; margin-left: 0px !important; outline: none; padding: 0; width: 76px; border: 1px solid #ECF0F1; height: 34px; overflow: hidden; max-width: 33%; max-height: 100%; background-color: #2D2D2D; font-size: 14px; font-weight: normal; float: left; color: #FFFFFF; letter-spacing: 0.5px; text-transform: uppercase!important; font-family: "Oswald"; } #sboxtbn input[type=submit]:hover { background-color: #FC0204; }


/*===================================== Sidebar Search Bar =====================================*/
#hbz-searchbox {
        background: #eee;
        border-radius:3px;box-shadow:0 2px 3px 4px #eee;
width: 100%;height:37px!important;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
     
    }
   
    #hbz-input,
    .hbz-submit {
        font-family: 'Cabin', helvetica, arial, sans-serif !important;
        margin: 0px;
        padding: 0px;
    }
   
    #hbz-input {
        background:#fff;
        border: 0.5px solid #87ceeb;
        color: #888;
        display: block;
        float: left;
        font-size: 13px;
        height: 30px;
        padding-left: 4%;
        padding-right: 4%;
        width: 60.2%;
        border-radius: 4px;
    }
   
    #hbz-input:focus {
        animation: glow 800ms ease-out infinite alternate;
        border-color: #393;
        color: #000;
        outline: none;
    }
   
    .hbz-submit {
        background: linear-gradient(#333, #222);
        box-sizing: content-box;
        border: 1px solid #444;
        border-left-color: #000;
        color: #fff;
        display: block;
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        position: relative;
        width: 30%;
        cursor: pointer;
        border-radius: 0px 3px 3px 0px;
    }
   
    .hbz-submit:hover,
    .hbz-submit:focus {
        background: linear-gradient(#393939, #292929);
    }
   
    .hbz-submit:hover,
    .hbz-submit:focus {
        color: #5f5;
        outline: none;
    }
   
    .hbz-submit:active {
        top: 1px;
    }
   
    @keyframes glow {
        0% {
            border-color: #393;
            box-shadow: 0 2px #000, 0px 0px 5px #3DAD3D, inset 0px 0px 5px #1F391F;
        }
        100% {
            border-color: #6f6;
            box-shadow: 0 2px #000, 0px 0px 8px #6bab6b, inset 0px 0px 10px #1F391F;}
            
            /*===================================== Sidebar Profile =====================================*/
.subscribeknigulper {background:#2c3033;
border-radius:3px;box-shadow:0 2px 3px 4px #666;
width: 100%;height:337px!important;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.tbimailbox {
border: 1px solid #D3D3D3;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: 1px 1px 1px 1px rgba(255, 172, 84, 0.4) inset;
-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4) inset;
color: #666;
font: 14px "trebuchet ms", sans-serif;
padding: 7px 15px;
width: 140px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.tbimailbox:hover {
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

.knigulpersidebarsubmit {
font: bold 12px Tahoma, Geneva, sans-serif;
font-style: normal;
color: #ffffff;
background: #ff5714;
border: 0px solid #ffffff;
text-shadow: 0px -1px 1px #222222;
box-shadow: 2px 2px 5px #000000;
-moz-box-shadow: 2px 2px 5px #000000;
-webkit-box-shadow: 2px 2px 5px #000000;
border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
padding: 8px 15px;
cursor: pointer;
margin: 0 auto;
}
.knigulpersidebarsubmit:active {
cursor: pointer;
position: relative;
top: 2px;
}
.knigulpersidebarsubmit::-moz-focus-inner {
border: 0;
padding: 0;
margin: 0;
}

.avatar-container1 img{display: inline-block;float: left;border:3px dotted #f1f1f1;margin:2px 10px 0 0;padding:5px;border-radius:50px;-webkit-border-radius:50px;-moz-border-radius:50px;-o-border-radius:50px;box-shadow:1px 2px 4px #000;width: 50px; height: 50px; max-width: 100%!important; border-radius: 100%;margin-left:6px!important;margin-top:6px!important;}

.author_description_container1 h4{color: #FF9900!important; font-weight: 700!important; font-size: 18px; font-family: 'Cedarville Cursive',cursive!important;margin-bottom:8px!important;}

.author_description_container1 p{color:#fff;font-family: Georgia, Helvetica, sans-serif;font-size:14px;font-weight:400;line-height:1.5em;padding:10px!important;}


/*===================================== Animated Demo Buttons =====================================*/
#wrapo {
    margin: 20px auto;
    text-align: center;
}

#wrapo br {
    display: none;
}

.bie-slide, .bie-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #F9690E;
    margin: 10px;
    transition: .5s;
}

.bie-slide2 {
    border: 2px solid #36D7B7;
}

.bie-slide:hover {
    background-color: #F9690E;
}

.bie-slide2:hover {
    background-color: #36D7B7;
}

.bie-slide:hover span.circle, .bie-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #F9690E;
}

.bie-slide2:hover span.circle2 {
    color: #36D7B7;
}

.bie-slide:hover span.title, .bie-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.bie-slide:hover span.title-hover, .bie-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.bie-slide span.circle, .bie-slide2 span.circle2 {
    display: block;
    background-color: #F9690E;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.bie-slide2 span.circle2 {
    background-color: #36D7B7;
}

.bie-slide span.title,
  .bie-slide span.title-hover, .bie-slide2 span.title2,
  .bie-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #F9690E;
    transition: .5s;
}

.bie-slide2 span.title2,
  .bie-slide2 span.title-hover2 {
    color: #36D7B7;
    left: 80px;
}

.bie-slide span.title-hover, .bie-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.bie-slide span.title-hover, .bie-slide2 span.title-hover2 {
    color: #fff;
}
/*===================================== Horizantal Subscription Widget =====================================*/
.f2{background-color:#f7f7f7;margin-top:8px;padding:2px;overflow:hidden;box-shadow: 0 0 10px 5px rgb(226, 215, 215);-moz-box-shadow: 0 0 10px 5px rgb(226, 215, 215); -webkit-box-shadow: 0 0 10px 5px rgb(226, 215, 215); -o-box-shadow: 0 0 10px 5px rgb(226, 215, 215);margin-bottom:8px;margin-left:8px;width:auto;}
.FollowByEmail .follow-by-email-inner .follow-by-email-address{height: 38px!important; border: none; padding: 5px; margin-bottom: 5px;margin-left:41px!important; background: #fff; text-align: left;font-family: Georgia, Helvetica, sans-serif;font-size:14px;font-weight:400;width:90%;border:1px solid #dbcece;}


.follow-by-email-address{padding-left:39px!important;}


#icon{
    background-image: url(http://fa2png.io/media/icons/font-awesome/4-7-0/envelope-square/23/0/3f4605_none.png);
    background-position: 6px;
    background-repeat: no-repeat; 
}


.FollowByEmail .follow-by-email-inner .follow-by-email-submit{font-family: rubik; height: 50px!important; width: 87%; margin-left: 0px; background: #BDB76B; font-weight: 700; text-transform: uppercase; padding: 17px 40px;color:#fff;border:1px solid #dbcece;}

.follow-by-email-inner p {font-family: 'Oswald', sans-serif;font-size:13px;font-weight:500;text-align:center; margin-bottom: 10px;color:#bcc4ca;}
.FollowByEmail h2 {color:#827459;font-family: 'Metamorphous', cursive;font-size:16px;font-weight:800;margin-top:4px!important;text-align:center;text-transform:uppercase;}
.FollowByEmail h3 {color:#000;font-family: 'Open Sans', sans-serif;font-size:13px;font-weight:normal;margin-top:8px;text-align:center;text-transform:none;}


.followbytext{font-size:15px;color:white;text-align:center;font-family: 'Oswald', sans-serif;font-weight:700}
